<head>
  <link rel="stylesheet" href="Chatroom.css" />
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
</head>
<body>
  <div class="chat-container"></div>

  <script src="Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5005",
      title: "Tư vấn các vấn đề tin học",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Xin Chào Em giúp gì được anh chị.?"
    });
    chatroom.openChat();
  </script>
</body>